{% extends "base.html" %}
{% block content %}
<h1>{{ strings["mealPlans.ingredients"] }} - {{ plan.name }}</h1>
<div class="actions">
    <a class="ghost" href="/meal-plans/{{ plan.id }}">{{ strings["mealPlans.detail"] }}</a>
    <a class="ghost" href="/meal-plans">{{ strings["mealPlans.heading"] }}</a>
</div>
<div class="card">
    <table>
        <tr>
            <th>{{ strings["menus.ingredients"] }}</th>
            <th>{{ strings["ingredients.total"] }}</th>
            <th>{{ strings["ingredients.unit"] }}</th>
            <th></th>
        </tr>
        {% for ing in ingredients %}
        <tr>
            <td>{{ ing.name }}</td>
            <td>{{ ing.quantity }}</td>
            <td>{{ ing.unit or '' }}</td>
            <td><input type="checkbox"></td>
        </tr>
        {% else %}
        <tr><td colspan="4" class="muted">{{ strings["menus.none"] }}</td></tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
